html {
  background-color: black;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0 auto;
}

.navbar {
  background-color: rgba(71, 199, 250, 0.2);
}

.page {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: black;
  padding-top: 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page h1 {
  font-size: 50px;
  color: rgb(233, 221, 0);
  display: flex;
  margin: 0 auto;
  padding: 12px;
  font-family: 'Press Start 2P', cursive;
}

canvas {
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0 !important;
}
